# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.Python
2.R language
3.Java

Some of the commonly used libraries used by Data Scientists include:
1.Pandas
2.NumPy
3.SciPy
4.Keras

|Data Science Tools|
:------------------|
|1.Jupyter Notebook
|2.Tensor Flow|
|3.MATLAB|

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
x = 200
y = 60
z = 200/60
print(z)

3.3333333333333335

 **Objectives:**
- Evaluating arithmetic operations in Python.
- List commonly used data science tools.
- List Creating a markdown cell.

 **Objectives:**
- Evaluating arithmetic operations in Python.
- List commonly used data science tools.
- List Creating a markdown cell.

## Author
Emmanuel Saaku Nyuah

## Author
Emmanuel Saaku Nyuah